@model onlinelist.Models.commonModel
    @*@model Tuple<UserRegistration.Models.LoginDetail,UserRegistration.Models.UserDetail>*@


@{
    ViewBag.Title = "Register";
}
@{
    Layout = "~/Views/Shared/_login.cshtml";
}


@if (ViewBag.msg != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.msg");
            };
    </script>

}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="display:inline-flex">
        @Html.LabelFor(model => model.LoginDetail.username,"Username", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LoginDetail.username,  new { htmlAttributes = new { @class = "form-control" }  })
            @Html.ValidationMessageFor(model => model.LoginDetail.username, "", new { @class = "text-danger" })
        </div>
        @*</div>*@

        @*<div class="form-group">*@
        @Html.LabelFor(model => model.UserDetail.Name, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserDetail.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserDetail.Name, "", new { @class = "text-danger" })
        </div>
       
    </div>
    <div class="form-group" style="display:inline-flex">
        @Html.LabelFor(model => model.LoginDetail.password,"Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LoginDetail.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LoginDetail.password, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.LoginDetail.confirmPassword,"Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LoginDetail.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LoginDetail.confirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display:inline-flex">
        @Html.LabelFor(model => model.UserDetail.EmailId, "Email ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserDetail.EmailId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserDetail.EmailId, "", new { @class = "text-danger" })
        </div>
    
        @Html.LabelFor(model => model.UserDetail.Phone_no, "Phone No.", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserDetail.Phone_no, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserDetail.Phone_no, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-default" />
        
            @Html.ActionLink(" Login Page", "Login")
        </div>
    </div>
</div>

}







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
