@model onlinelist.Models.UserDetail

@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>

<div>
    <h4>UserDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.EmailId)*@
            Email Id
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.EmailId,"Email Id")
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Phone_no)*@
            Phone No.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_no, "Phone No.")
        </dd>

       

        <dt>
            @*@Html.DisplayNameFor(model => model.LoginDetail.username)*@
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginDetail.username,"Username")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Logout", "Logout")
    @*@Html.ActionLink("Go to Shopping","Index",new { id = Model.Id } )*@
</p>
